@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  height: 100vh;
  display: grid;
  grid-gap: 1px;
  background-color: rgb(193, 192, 192);

  grid-template-areas:
    "header header header"
    "menu requestUrl responseInfo"
    "menu requestDetails responseDetails";
  grid-template-columns: 2fr 5fr 4fr;
  grid-template-rows: auto auto 1fr;
}

.grid-item {
  background-color: white;
}

header {
  grid-area: header;
}

#menu {
  grid-area: menu;
}

.request-url {
  grid-area: requestUrl;
}

.response-info {
  grid-area: responseInfo;
}

.request-details {
  grid-area: requestDetails;
}

.response-details {
  grid-area: responseDetails;
}

/*  */


.list {
  padding: 0;
  list-style: none;
  background: var(--page-background);
  border: 1px solid var(--spectrum-global-color-gray-400);
  max-width: 400px;
  min-width: 200px;
  max-height: 250px;
  overflow: auto;
}

.list li {
  padding: 8px;
  outline: none;
  cursor: default;
}

.list li:nth-child(2n) {
  background: var(--spectrum-alias-highlight-hover);
}

.list li.pressed {
  background: var(--spectrum-global-color-gray-200);
}

.list li[aria-selected=true] {
  background: slateblue;
  color: white;
}

.list li.focus-visible {
  outline: 2px solid slateblue;
  outline-offset: -3px;
}

.list li.focus-visible[aria-selected=true] {
  outline-color: white;
}

.list li[aria-disabled] {
  opacity: 0.4;
}

.list [role=gridcell] {
  display: flex;
  align-items: center;
  gap: 4px;
}

.list li button {
  margin-left: auto;
}

/* iOS Safari has a bug that prevents accent-color: white from working. */
@supports not (-webkit-touch-callout: none) {
  .list li input[type=checkbox] {
    accent-color: white;
  }
}