@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#app {
 
  height: 100vh;
  display: grid;
  grid-gap: 1px;
  background-color: rgb(193, 192, 192);

  grid-template-areas:
    "header header header"
    "menu requestUrl requestUrl"
    "menu requestDetails responseInfo"
    "menu requestDetails responseDetails";
  grid-template-columns: 2fr 5fr 6fr;
  grid-template-rows: auto auto auto 1fr;
}

.grid-item {
  background-color: #f1f1f1;
}

header {
  grid-area: header;
}

#menu {
  grid-area: menu;
}

.request-url {
  grid-area: requestUrl;
}

.request-details {
  grid-area: requestDetails;
}

.response-info {
  grid-area: responseInfo;
}



.response-details {
  grid-area: responseDetails;
}


[data-theme="lofi"] .input-disabled, .input[disabled] {
  border-color: rgba(0, 0, 0, 0.2);
  color:rgb(193, 192, 192)
}